<a href="https://colab.research.google.com/github/Joarapaula/analise-de-dados_aula/blob/main/exerc%C3%ADcio1_analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
get_ipython().system('pip install pandas')
import pandas as pd 
dados = pd.read_csv('/content/drive/MyDrive/Material para aulas de analises de dados/caso.csv')
dados.head(10)

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2021-09-23    AP  ...                    14242.14961     0.0161
1  2021-09-22    AP  ...                    14241.10526     0.0161
2  2021-09-21    AP  ...                    14238.55238     0.0161
3  2021-09-20    AP  ...                    14235.41930     0.0161
4  2021-09-19    AP  ...                    14234.49099     0.0161
5  2021-09-18    AP  ...                    14233.91079     0.0161
6  2021-09-17    AP  ...                    14231.47395     0.0161
7  2021-09-16    AP  ...                    14229.61731     0.0161
8  2021-09-15    AP  ...                    14228.34087     0.0161
9  2021-09-14    AP  ...                    14227.52860     0.0160

[10 rows x 13 columns]

# Nova se√ß√£o